<!DOCTYPE HTML>
<html lang="VI">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bảng giá</title>

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/mobilemenu.css" rel="stylesheet" />
	<link href="assets/css/slick.css" rel="stylesheet" />
	<link href="assets/css/all.fontawesome.min.css" rel="stylesheet" />

	<link href="assets/css/styles.css" rel="stylesheet" />
	<link href="assets/css/reponsive.css" rel="stylesheet" />
</head>

<body class="page-bang-gia page-body">
	<div class="body-main">
		<header>
			<div class="header-bar">
				<div class="top-bar">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="top-bar-left">
									<ul>
										<li>
											<img src="assets/images/icon-money.png" alt="Tỉ giá">
											<span>Tỉ giá: <strong>3,345</strong></span>
										</li>
										<li class="top-phone">
											<a href="tel:19001456" title="1900 1456">
												<img src="assets/images/icon-use-hotline.png" alt="Hotline">
												<span>Hotline: <strong>1900 1456</strong></span>
											</a>
										</li>
									</ul>
								</div>
							</div> <!--top-bar-left-->
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
								<div class="top-bar-right">
									<ul>
										<li class="login">
											<a href="#" title="Login">
												<img src="assets/images/icon-login.png" alt="Login">
												<span>Đăng nhập</span>
											</a>											
										</li>
										<li class="regis-all">
											<div class="regis">
												<a href="#" title="Registration">
													<span>Đăng ký</span>
												</a>
											</div>

											<!-- <div class="regis-face">
												<a href="#" title="Login facebook" class="login-face">
													<img src="assets/images/dang-nhap-facebook.jpg" alt="Login facebook">
												</a>
											</div> -->
										</li>
										<li class="tai-khoan">
											<a href="quan-li-tai-khoan/index.html" title="Login">
												<span>Tài khoản</span>
											</a>											
										</li>
									</ul>
								</div>
							</div> <!--top-bar-right-->
						</div>
					</div>
				</div> <!--top bar-->

				<div class="main-bar">
					<div class="main-sticky">
						<div class="container">
							<div class="row">
								<div class="col-xl-3 col-lg-2 col-md-3 col-sm-3 col-8">
									<div class="logo">
										<a href="index.html" title="Logo">
											<img src="assets/images/logo.png" alt="Logo">
										</a>
									</div> <!--logo-->
								</div>
								<div class="col-xl-9 col-lg-10 col-md-9 col-sm-9 col-4">
									<div class="megamenu d-none d-lg-block">
										<nav class="nav">
											<ul class="megamenu-content">
												<li class="item ">
													<a href="index.html" title="Trang chủ">Trang chủ</a>
												</li>
												<li class="item">
													<a href="gioi-thieu.html" title="Giới thiệu">Giới thiệu</a>
												</li>
												<li class="item active">
													<a href="bang-gia.html" title="Bảng giá vận chuển">Bảng giá vận chuyển</a>
												</li>
												<li class="item">
													<a href="tra-cuoc.html" title="Tra cước">Tra cước</a>
												</li>
												<li class="item">
													<a href="chinh-sach.html" title="Chính sách">Chính sách</a>
												</li>	
												<li class="item">
													<a href="tin-tuc.html" title="Tin tức">Tin tức</a>
												</li>											                         
											</ul>
										</nav>
									</div> <!--megamenu-->
									<div class="megamenu megamenu-mobile d-lg-none">
										<div class=-mobile-content>
											<button class="menu-open">
												<span></span>        
											</button>

											<div class="modal menu-content">
												<!-- Modal content -->
												<div class="modal-content animated zoomIn">
													<div class="menu-close">
														<span class="close">×</span>
													</div>

													<div class="modal-body">
														<nav class="nav">
															<ul class="megamenu-content">
																<li class="item">
																	<a href="index.html" title="Trang chủ">Trang chủ</a>
																</li>
																<li class="item">
																	<a href="gioi-thieu.html" title="Giới thiệu">Giới thiệu</a>
																</li>
																<li class="item">
																	<a href="bang-gia.html" title="Bảng giá vận chuển">Bảng giá vận chuyển</a>
																</li>
																<li class="item">
																	<a href="tra-cuoc.html" title="Tra cước">Tra cước</a>
																</li>
																<li class="item">
																	<a href="chinh-sach.html" title="Chính sách">Chính sách</a>
																</li>	
																<li class="item">
																	<a href="tin-tuc.html" title="Tin tức">Tin tức</a>
																</li>											                         
															</ul>
														</nav>
													</div>
												</div>
											</div>
										</div>
									</div> <!-- megamenu-mobile -->
								</div>
							</div>
						</div>
					</div>
				</div> <!--main bar-->
			</div> <!--header bar-->
		</header> <!--header-->

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="display: none;">
						<div class="title-box videos-title">
							<h2 class="title">Vận chuyển Việt Trung</h2>
						</div>
					</div>
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="breadcrumbs-box">
							<ul>
								<li>
									<a href="index.html" title="Trang chủ">Trang chủ</a>
								</li>
								<li class="final">
									<span>Bảng giá</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div> <!--breadcrumbs-->

		<main class="main-site page-site">
			<article class="price-list">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="price-list-content">
								<div class="price-list-title title-box blog-detail-title">
									<h1 class="title"><span>Để đơn hàng được vận chuyển về cho bạn, thì tùy theo hình thức nhận hàng, bạn phải trả một hoặc toàn bộ các loại phí vận chuyển sau đây:</span></h1>
								</div>

								<div class="price-list-box">
								<div class="content">
									<div class="blog-detail-description">
										<h3 class="title">1. Phí vận nội địa Trung Quốc: <span>bắt buộc với tất cả các đơn hàng</span></h3>
										<p>
											Là mức phí vận chuyển từ kho của Người bán về đến kho của NHTQ (tại Trung Quốc). Mức phí này do các hãng vận chuyển của Trung Quốc thu khi đặt hàng hoặc khi chúng tôi nhận được đơn hàng của bạn tại kho bên Trung Quốc.
										</p>
										<p>
											Phí vận chuyển nội địa Trung Quốc được tính dựa theo bảng sau:
										</p>
										<div class="price-list-table">
											<div class="table-content two-table-content">
												<div class="content">
													<table>
													  <tr class="title-table">
													    <th>Tỉnh thành</th>
													    <th class="center">KG đầu tiên</th>
													    <th class="center">KG tiếp theo</th>
													  </tr>
													  <tr class="content-table">
													    <td>Quảng Tây - 广西</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Quảng Đông - 广东</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Quý Châu -贵州</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Hồ Nam - 湖南</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Giang Tô - 江苏</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Trùng Khánh - 重庆</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Hồ Bắc - 湖北</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Phúc Kiến - 福建</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Thượng Hải - 上海</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													</table>
												</div>
												<div class="content">
													<table>
													  <tr class="title-table">
													    <th>Tỉnh thành</th>
													    <th class="center">KG đầu tiên</th>
													    <th class="center">KG tiếp theo</th>
													  </tr>
													  <tr class="content-table">
													    <td>Quảng Tây - 广西</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Quảng Đông - 广东</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Quý Châu -贵州</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Hồ Nam - 湖南</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Giang Tô - 江苏</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Trùng Khánh - 重庆</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Hồ Bắc - 湖北</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td>Phúc Kiến - 福建</td>
													    <td class="center">28.000đ</td>
													    <td class="center">22.000đ</td>
													  </tr>
													  <tr class="content-table">
													    <td></td>
													    <td class="center"></td>
													    <td class="center"></td>
													  </tr>
													</table>
												</div>
											</div>
										</div>
									</div>
									<div class="blog-detail-description">
										<h3 class="title">2. Phí vận chuyển Trung Quốc - Việt Nam:</h3>
										<p>
											Là mức phí để vận chuyển đơn hàng của bạn từ kho của chúng tôi tại Trung Quốc, về kho của chúng tôi tại Việt Nam. Tùy thuộc vào kho Hà Nội hoặc TPHCM, mức phí vận chuyển Trung Quốc - Việt Nam sẽ có mức giá như sau:
										</p>
										<div class="price-list-table table-small">
											<div class="table-content">
												<h4 class="title">Hàng về kho Hà Nội</h4>
												<div class="content">
													<table>
													  <tr class="title-table">
													    <th class="center">STT</th>
													    <th class="center">Khối lượng</th>
													    <th class="center">Giá vận chuyển</th>
													  </tr>
													  <tr class="content-table">
													    <td class="center">1</td>
													    <td class="center">Dưới 20kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">2</td>
													    <td class="center">Từ 20kg đến dưới 50kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">3</td>
													    <td class="center">Từ 50kg đến dưới 100kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">4</td>
													    <td class="center">Từ 100kg đến dưới 200kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">5</td>
													    <td class="center">Từ 200kg đến dưới 500kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">6</td>
													    <td class="center">Từ 500kg đến dưới 1000kg</td>
													    <td class="center">33.000đ/kg</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">7</td>
													    <td class="center">Từ 1000kg</td>
													    <td class="center">Liên hệ</td>
													  </tr>
													</table>
												</div>
												<p>Hàng về kho TP. HCM: Được tính bằng phí Hàng về kho Hà Nội + 18.000đ/kg</p>
											</div>
										</div>
									</div>
									<div class="blog-detail-description">
										<h3 class="title">3. Phí giao hàng tới tay Khách hàng  (tùy chọn): </h3>
										<p>
											Khi hàng về tới Việt Nam, tùy vào hình thức nhận hàng của bạn, mức phí giao hàng tới tay bạn được quy định tại bảng dưới đây
										</p>
										<div class="price-list-table table-small">
											<div class="table-content">
												<div class="content">
													<table>
													  <tr class="title-table">
													    <th class="center">Nơi nhận hàng</th>
													    <th class="center">Chi phí</th>
													    <th class="center">Thời gian (từ ngày thanh toán)</th>
													  </tr>
													  <tr class="content-table">
													    <td class="center">Chuyển phát nhanh</td>
													    <td class="center">
													    	- Giá cước do hãng CPN thu theo bảng giá tại đây;<br>
															- Khách hàng trả cước trước khi giao hàng hàng.
													    </td>
													    <td class="center">7 - 10 ngày</td>
													  </tr>
													  <tr class="content-table">
													    <td class="center">Chuyển phát chậm</td>
													    <td class="center">(NHTQ sẽ gộp các đơn hàng về cùng đợt để giao <br> chung, nhằm giảm cước vận chuyển)</td>
													    <td class="center">8 - 12 ngày</td>
													  </tr>
													</table>
												</div>
											</div>
										</div>
									</div>
									<div class="blog-detail-description">										
										<h3 class="title note-title">* Lưu ý</h3>
										<ul>
											<li>
												<h4 class="title"> - Đối với hàng nhẹ, hàng cồng kềnh, trọng lượng tính cước sẽ được tính theo công thức sau:</h4>
												<p class="recipe">Trọng lượng tính cước = (Dài * Rộng * Cao) / 6000</p>
											</li>
											<li>
												<h4 class="title">- Về vấn đề nhận hàng hộ ( Ủy quyền nhận hàng) :</h4>
												<p>Đối với các trường hợp nhận hàng hộ ( người nhận hàng không phải là người sở hữu tài khoản tương ứng trên hệ thống nhaphangtrungquoc.vn). Khi đó nhaphangtrungquoc.vn chỉ đồng ý giao hàng cho người nhận hộ sau khi Quý khách đã thực hiện Ủy quyền nhận hàng hộ theo 2 cách như sau:</p>
												<ul>
													<li>- Cách 1: Quý khách đăng nhập vào tài khoản trên hệ thống nhaphangtrungquoc.vn sau đó vào mục Ủy quyền nhận hàng để thực hiện.</li>
													<li>- Cách 2: Quý khách dùng tài khoản email đã đăng kí trên hệ thống nhaphangtrungquoc.vn gửi email Ủy quyền đến Email: hotro@nhaphangtrungquoc.vn với cú pháp gửi mail như sau: [NHH] [Số ĐT người nhận hộ] [Tên người nhận hộ] [Mã đơn hàng 1, Mã đơn hàng 2,...., Mã đơn hàng n]</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main> <!--main-site-->

		<footer>
			<div class="footer-main">
				<div class="container">
					<div class="row">
						<div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
							<div class="footer-box">
								<div class="footer-menu">
									<div class="footer-logo">
										<div class="logo">
											<a href="index.html" title="Logo">
												<img src="assets/images/logo-2.png" alt="Logo">
											</a>
											<p>
												Lorem Ipsum is simply dummy text of  printing and typesetting industry. Lorem Ipsum has been the  standard 
											</p>
										</div> <!--logo-->
									</div>
									<div class="footer-contact">
										<ul>
											<li>
												<p>Địa chỉ: Thanh Trì, Hà Nội</p>
											</li>
											<li>
												<p>Số điện thoại: 0123.456.789</p>
											</li>
											<li>
												<p>Email: admin@admin.com</p>
											</li>
										</ul>
									</div>
								</div>							
							</div> <!--footer box-->
						</div>

						<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
							<div class="footer-box">
								<div class="footer-menu">
									<div class="footer-title title-box">
										<h3 class="title">
											<span>Danh mục</span>
										</h3>
									</div>
									<div class="footer-content">
										<ul>
											<li>
												<a href="index.html" title="Trang chủ">- Trang chủ</a>
											</li>
											<li>
												<a href="index.html" title="Giới thiệu">- Giới thiệu</a>
											</li>
											<li>
												<a href="index.html" title="Bảng giá vận chuyển">- Bảng giá vận chuyển</a>
											</li>
											<li>
												<a href="index.html" title="Tra cước">- Tra cước</a>
											</li>
											<li>
												<a href="index.html" title="Chính sách">- Chính sách</a>
											</li>
											<li>
												<a href="index.html" title="Tin tức">- Tin tức</a>
											</li>
										</ul>										    
									</div>
								</div>							
							</div> <!--footer box-->
						</div>

						<!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 layout-cham-soc-khach-hang">
							<div class="footer-box">
								<div class="footer-menu">
									<div class="footer-title title-box">
										<h3 class="title">
											<span>Chăm sóc khách hàng</span>
										</h3>
									</div>
									<div class="footer-content">
										<ul>
											<li>
												<a href="index.html" title="Trang chủ">- Chính sách bảo hành</a>
											</li>
											<li>
												<a href="index.html" title="Giới thiệu">- Chính sách bảo mật</a>
											</li>
											<li>
												<a href="index.html" title="Bảng giá vận chuyển">- Hướng dẫn mua hàng</a>
											</li>
											<li>
												<a href="index.html" title="Tra cước">- Trả hàng và vận chuyển</a>
											</li>
											<li>
												<a href="index.html" title="Chính sách">- Hướng dẫn tạo tài khoản</a>
											</li>
											<li>
												<a href="index.html" title="Tin tức">- Chính sách giao nhận</a>
											</li>
										</ul>										    
									</div>
								</div>							
							</div>
						</div> -->

						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 layout-fanpage">
							<div class="footer-box">
								<div class="footer-menu">
									<div class="footer-title title-box">
										<h3 class="title">
											<span>Fanpage</span>
										</h3>
									</div>
									<div class="footer-content">
										<div class="facebook-fanpage">
											<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=260&height=150&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=897190940472200" width="260" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
										</div>
										<div class="industrial-facilities">
											<img src="assets/images/log-tbsct.png" alt="SCT">
										</div>									    
									</div>
								</div>							
							</div> <!--footer box-->
						</div>
					</div>
				</div>		
			</div> <!--footer main-->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="copyright-box">
								<p>All rights reserved 2023</p>
							</div>
						</div>
					</div>
				</div>
			</div> <!--footer bottom-->
		</footer> <!--footer-->
	</div>

	<div class="popups popup-account">
		<div class="popups-content">
			<div class="account-box content-box">
				<div class="tab-nav popups-title popup-account-title">
					<ul class="nav nav-tabs">
						<li>
							<a data-toggle="tab" href="#login-box" class="active title-login" title="tab">Đăng nhập</a>
						</li>
						<li>
							<a data-toggle="tab" href="#registration-box" title="tab" class="title-regis">Tạo tài khoản</a>
						</li>
					</ul>
				</div>

				<div class="tab-content popups-box">
					<div id='login-box' class="tab-pane fade in active">
						<div class="popup-box login-box">
							<form class="form-account">
								<div class="content">
									<div class="form-group">
										<input class="form-control" type="text" name="" value="" placeholder="Số điện thoại hoặc email">
										<span></span>
									</div>	
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Mật khẩu">
									</div>		
									<div class="form-group btn-group">
										<button class="btn btn-account btn-login">Đăng nhập</button>
									</div>
								</div>
								
								<div class="content content-2">
									<div class="form-group">
										<input type="radio" name="Radio" class="form-radio">
										<span class="form-radio"><i class="far fa-check icon"></i></span>
										<span>Duy trì đăng nhập</span>
									</div>
									<div class="form-group">
										<a href="lay-lai-mat-khau.html" title="Mat khau">Quên mật khẩu</a>
									</div>
								</div>
								
								<div class="content mxh-login">
									<div class="login-facebook">
										<a href="#" title="Login facebook">
											<img src="assets/images/login-facebook.jpg">
										</a>
									</div>
									<div class="login-google">
										<a href="#" title="Login google">
											<img src="assets/images/login-email.jpg">
										</a>
									</div>
								</div>

								<!-- <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="false" data-width=""></div> -->
							</form>
						</div>
					</div>

					<div id="registration-box" class="tab-pane fade">
						<div class="popup-box regis-box">
							<p>Tạo tài khoản để tìm kiếm nguồn hàng, đặt hàng, theo dõi đơn hàng, nhận những chương trình khuyến mại, phản hồi khiếu nại, thắc mắc về dịch vụ...</p>
							<form class="form-account form-regis">
								<div class="content">
									<div class="form-group">
										<input class="form-control" type="text" name="" value="" placeholder="Họ tên">
									</div>	
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Mật khẩu">
									</div>		
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Thư điện tử">
									</div>		
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Số điện thoại">
									</div>			
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Số điện thoại">
									</div>				
									<div class="form-group">
										<select class="form-control">
											<option>Chọn kho nhận</option>
											<option>Kho nhận 1</option>
											<option>Kho nhận 2</option>
											<option>Kho nhận 3</option>
										</select>
									</div>			
									<div class="form-group">
										<input class="form-control" type="pass" name="" value="" placeholder="Mã nhân viên tư vấn">
									</div>	
									<div class="form-group">
										<input type="radio" name="Radio" class="form-radio" checked>
										<span class="form-radio"><i class="far fa-check icon"></i></span>
										<span>Tôi đã đọc và đồng ý với <a href="#">Điều khoản</a> của shop</span>
									</div>	
									<div class="form-group">
										<button class="btn btn-account btn-login">Đăng ký</button>
									</div>
								</div>
								
								<div class="content mxh-login">
									<div class="login-facebook">
										<a href="#" title="Login facebook">
											<img src="assets/images/login-facebook.jpg">
										</a>
									</div>
									<div class="login-google">
										<a href="#" title="Login google">
											<img src="assets/images/login-email.jpg">
										</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/mobilemenu.js"></script>

	<script src="assets/js/main.js"></script>

	<!-- <div class="back-to-top">
		<i class="fas fa-arrow-alt-up icon icon-back-top"></i>
		<span>Top</span>
	</div> -->
</body>
</html>