<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WEB - Multipurpose eCommerce HTML5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">




		<!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/fontawesome-all.min.css">
        <link rel="stylesheet" href="css/themify-icons.css">
        <link rel="stylesheet" href="css/meanmenu.css">
        <link rel="stylesheet" href="css/nice-select.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>


        <!-- Add your site or application content here -->

        <!-- header start -->
        <header>
            <div class="header-top-area gray-bg d-none d-md-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-7 d-flex align-items-center">
                            <div class="header-info">
                                <span> Hotline: (024)5 318 9999</span>
                                <span> Email: admin@admin.com</span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-5">

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="header-search-area pt-10 pb-10">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-4 col-4 d-flex align-items-center">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo/logo-e.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 d-flex align-items-center justify-content-end electronic-cat">
                            <div class="search-cat clearfix">
                                <div class="cat-select">
                                    <select name="select">
                                        <option value="01">Tất cả</option>
                                        <option value="01">Điện thoại</option>
                                        <option value="02">Laptop</option>
                                        <option value="03">Headpone</option>
                                        <option value="04">Smart Watch</option>
                                    </select>
                                </div>
                                <div class="cat-form">
                                    <form action="#">
                                        <input type="text" placeholder="Tìm kiếm......">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-8 col-8">
                            <div class="header-right f-right">
                                <ul>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#search-modal">
                                            <i class="ti-search"></i>
                                        </a>
                                    </li>

                                    <li class="d-shop-cart">
                                        <a href="#">
                                            <i class="ti-shopping-cart"></i>
                                            <span class="cart-count">3</span>
                                        </a>
                                        <ul class="minicart">
                                            <li>
                                                <div class="cart-img">
                                                    <a href="product-details.html">
                                                        <img src="img/cart/cart1.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3>
                                                        <a href="product-details.html">Tiêu đề mẫu</a>
                                                    </h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span>
                                                            <del>$239.9</del>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cart-img">
                                                    <a href="product-details.html">
                                                        <img src="img/cart/cart2.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3>
                                                        <a href="product-details.html">Tiêu đề mẫu</a>
                                                    </h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span>
                                                            <del>$239.9</del>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cart-img">
                                                    <a href="product-details.html">
                                                        <img src="img/cart/cart3.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="cart-content">
                                                    <h3>
                                                        <a href="product-details.html">Tiêu đề mẫu</a>
                                                    </h3>
                                                    <div class="cart-price">
                                                        <span class="new">$ 229.9</span>
                                                        <span>
                                                            <del>$239.9</del>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="del-icon">
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="total-price">
                                                    <span class="f-left">Tổng:</span>
                                                    <span class="f-right">$300.0</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="checkout-link">
                                                    <a href="cart.html">Giỏ hàng</a>
                                                    <a href="checkout.html">Thanh toán</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu-area electronic-menu blue-bg d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li>
                                            <a href="index.html">Trang chủ</a></li>
                                        <li class="mega-menu">
                                            <a href="shop.html">Sản phẩm</a>
                                            <ul class="submenu ">
                                                <li>
                                                    <a href="#">Danh mục</a>
                                                    <ul class="submenu  level-1">
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Danh mục</a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="checkout.html">Thanh toán</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Danh mục</a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop.html">Tiêu đề mẫu</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="blog.html">Tin tức</a></li>
                                        <li>
                                            <a href="about.html">Giới thiệu</a></li>
                                        <li>
                                            <a href="contact.html">Liên hệ</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-flex align-items-center justify-content-end">
                            <div class="header-icon text-right">
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                                <a href="#">
                                    <i class="ti-google"></i>
                                </a>
                                <a href="#">
                                    <i class="ti-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        <!-- page- title area start -->
        <div class="page-title-area pt-200 pb-200" style="background-image:url(img/bg/page-title.jpg) ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-title text-center mb-20">
                            <h3 class="h3">Tin tức</h3>
                        </div>
                        <div class="breadcrum-list">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item">
                                       <a href="index.html">Trang chủ</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page- title area end -->

        <!-- blog start -->
        <div class="blog-area pt-130 pb-130">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 offset-xl-2 offset-lg-1">
                        <div class="blog-lg">
                            <div class="blog-wrapper blog-details blue-blog mb-40">
                                <div class="blog-thumb mb-25">
                                    <img src="img/blog/blog-lg1.jpg" alt="">
                                </div>
                                <div class="blog-content">
                                    <h1 class="h5">
                                        Tiêu đề mẫu.
                                    </h1>
                                    <div class="blog-meta mb-10">
                                        <span>By
                                            <a href="#">Admin</a>
                                        </span>
                                        <span>25 Janu 2019</span>
                                        <span>
                                            <a href="#">Comments (5)</a>
                                        </span>
                                    </div>
                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you
                                    a complete account of the system.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                    ulabore et dolore magna aliqua.Ut enim ad minim veniam.</p>
                                <blockquote class="blockquote">
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teminc ididunt ut labore et dolore.Lorem ipsum
                                        dolor sit amet.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                                </blockquote>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                                    deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="blog-content-img mb-30">
                                            <img src="img/blog/blog-lg5.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="blog-content-img mb-30">
                                            <img src="img/blog/blog-lg4.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
                                    quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                                    deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                    nesciunt.</p>
                                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms
                                    of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue;
                                    and equal blame belongs to those who fail in their duty through weakness</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="blog-post-tag">
                                        <a href="#">APP</a>
                                        <a href="#">HTML</a>
                                        <a href="#">CSS</a>
                                        <a href="#">THEME</a>
                                        <a href="#">TEMPLATE</a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="blog-share-icon text-left text-md-right">
                                        <span>Share: </span>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>


                            <div class="post-comments-form pt-40 pr-100">
                                <div class="section-title mb-30">
                                    <h2>Bình luận</h2>
                                </div>

                                <div id="fb-root"></div>
                                <script>(function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="2" data-width="100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog end -->

        <!-- footer start -->
        <footer class="black-bg">
            <div class="footer-area pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-5">
                            <div class="footer-widget mb-30">
                                <h3>Giới thiệu</h3>
                                <p>Sorem ipsum dolor sit amet consadip eisicing elit sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim
                                ad minim veniam quis nostrud exercitation
                                </p>
                                <div class="footer-icon mt-20">
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-google"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-widget mb-30">
                                <h3>Đường dẫn</h3>
                                <ul class="footer-link">
                                    <li><a href="#">Tiêu đề mẫu   </a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                    <li><a href="#"> Tiêu đề mẫu</a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 d-md-none d-lg-block">
                            <div class="footer-widget mb-30">
                               <h3>Danh mục</h3>
                                <ul class="footer-link">
                                    <li><a href="#">Tiêu đề mẫu    </a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                    <li><a href="#">Tiêu đề mẫu</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-widget pl-50 mb-30">
                                <h3>Đăng ký theo dõi</h3>
                                <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn.
                                </p>
                                <div class="subscribe-footer">
                                    <form action="#">
                                        <input type="text" placeholder="Email :">
                                        <button>Gửi</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area copyright-border pt-30 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="copyright">
                                <p>Copyright © 2018. All Rights Reserved</p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class="payment text-left text-md-right">
                                <img src="img/icon/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->



        <!-- Modal Search -->
        <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form>
                        <input type="text" placeholder="Tìm kiếm...">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>




		<!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/one-page-nav-min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
