/* color: var(--primary-color); */

.secondary,
.checkout-button,
.button.checkout,
.button.alt {
    background-color: var(--primary-color) !important;
}

a:hover,
a.remove:hover,
a.icon-circle:hover {
    color: var(--primary-color) !important;
}

/* XS */
.is-xsmall {
    font-size: 10px !important;
}

/* S */
.is-small {
    font-size: 12px !important;
}

/* L */
.is-large {
    font-size: 18px !important;
}

/* XL */
.is-xlarge {
    font-size: 20px !important;
}

/* M */
.box-text {
    font-size: 14px !important;
}

/* .is-xlarge *,
.is-large *,
.is-small *,
.is-xsmall * {
    font-size: inherit !important;
} */

.entry-meta .comments-link,
.entry-meta .cat-links,
.entry-meta .byline,
.entry-meta .posted-on,
.entry-category > a {
    font-size: 14px;
    text-transform: initial;
}

.button.more-link:hover {
    color: #fff !important;
}