@import 'settings';

@media (max-width: 1349px) {
	// Code
	.search-box {
		.content-box {
			height: auto !important;
		}
	}
}

@media (max-width: 1199px) {
	// Code
	.back-to-top {
		bottom: 15px;
		right: 15px;
	}

	.header-main .header-stick {
		padding: 16px 0;

		&.active .header-main-top {
			display: block;
		}
	}
}

@media (max-width: 991px) {
	// Code

	.main-posts .posts-box {
		margin-bottom: 30px;

		.item {
			width: 50%;
		}
	}

	.footer-main .groups-box>* {
		width: 50%;
	}
}

@media (max-width: 767px) {
	section {
		margin: 30px 0 !important;

		&.lth-slidershow {
			margin: 0 !important;
		}
	}

	// Code

	.header-main .hotline-box {
		font-size: 18px;

		label {
			font-size: 15px;
		}
	}

	.logins-box {    
		.content-box {
			transform: translateX(0) !important;
		}

		.user-box > .user-icon {
			display: none;
		}

		.user-content {
			position: initial;
			opacity: 1;
			visibility: initial;
			transform: translateY(0) !important;
			padding: 0 30px !important;
			height: auto !important;

			> ul {
				padding: 0;
				border: none;

				> li {
					padding: 5px 0;
				}
			}
		}
	}

	.footer-main {
		.groups-box>* {
			width: 100%;
		}

		.footer-box {
			padding-bottom: 30px;

			.title-box {
				margin-bottom: 0;
			}

			.title {
				position: relative;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:after {
					content: '+';
					width: auto;
					height: auto;
					margin: 0;
					background: none;
				}
			}

			&.active {
				.title {
					&:after {
						content: '-';
					}
				}
			}

			> .content-box {
				margin-top: 15px;
			}
		}
	}

	.contacts-box form .groups-box>* {
	    width: 100%;
	}
}

@media (max-width: 575px) {	
	// Code

}

@media (max-width: 479px) {
	// Code

	.main-posts .posts-box .item {
		width: 100%;
	}
}