@import "settings";

.single_add_to_cart_button.added:not(.loading):before,
.add_to_cart_button.added:before,
.added_to_cart.wc-forward,
.single_add_to_cart_button.added:not(.loading):before,
.add_to_cart_button.added:before {
  display: none;
}
.add-product,
.remove-product {
  position: fixed;
  top: 15px;
  right: -100%;
  z-index: 9999991;
  background: #000;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 800ms;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.add-product.active,
.remove-product.active {
  right: 15px;
}

// sidebars
.sidebar-box {
  h3 {
    font-size: $font_sz_title_2;
    margin-bottom: 15px;
  }

  .slick-slider {
    margin: -15px;
    margin-top: 0;

    .slick-list {
      margin: 0;
    }
  }

  .content-box .item {
    padding: 15px;
    padding-top: 0;

    > * {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }

    .product-image {
      width: 120px;
      padding: 0 10px;
    }

    .product-content {
      width: calc(100% - 120px);
      padding: 0 10px;
      text-align: left;
    }

    .product-image .on-sale,
    .product-btn {
      display: none;
    }

    .product-name {
      margin-bottom: 5px;

      a {
        font-size: 15px;
      }
    }

    .product-price {
      font-size: 15px;
      margin-bottom: 0;
    }
  }

  .price_slider_wrapper {
    .price_slider {
      width: calc(100% - 10px);
      height: 3px;
      margin-bottom: 10px;
      position: relative;
    }

    .ui-slider-handle {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 50%;
      position: absolute;
      background: #ebebeb;
      top: -3px;
    }

    .ui-slider-range {
      height: 3px;
      position: absolute;
    }
  }

  .price_slider_amount {
    .button {
      padding: 5px 20px;
      margin: 5px 0 10px;
    }
  }
}
// end sidebars

// page products
.main-products {
  .products-ordering {
    position: relative;
    min-width: 180px;

    &.show {
      ul {
        opacity: 1;
        visibility: initial;
      }
    }

    label {
      border: 1px solid $border_color;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      cursor: pointer;

      &::after {
        content: "\f107";
        font-family: "FontAwesome";
      }
    }

    ul {
      border: 1px solid $border_color;
      @include position_as("top_right", 29px, 0);
      z-index: 99;
      min-width: 180px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 400ms;
      padding: 5px 0;

      li {
        position: relative;
        padding: 5px 15px;
        list-style: none;

        input {
          @include position_as("top_left", 0, 0);
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 5;
          cursor: pointer;
        }
      }
    }
  }

  .products-list {
    background: none;

    .woocommerce-result-ordering {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .post-box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }
}
// end page products

// page single products
.main-single-product {
  .woocommerce-notices-wrapper {
    display: none;
  }
}

.product-content-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  > * {
    width: 50%;
    padding: 0 15px;
  }

  .product-images {
    position: relative;

    .onsale {
      display: none;
    }

    .on-sale {
      @include position_as("top_right", 15px, 30px);
      z-index: 9;
    }
  }

  .slick-slider {
    margin: 0;

    .slick-list {
      margin: -5px;
    }

    .item {
      padding: 5px;
  }
  }

  .slick-product-images-for {
    margin-bottom: 15px;
  }

  .slick-product-images-nav .slick-slide img {
    border: 1px solid transparent;
    transition: all 400ms;
  }

  .product_title {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    ins {
      text-decoration: none;
    }

    .amount {
      font-size: 20px;
      line-height: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    del {
      margin-right: 10px;
    }

    del,
    del .amount {
      color: #919191;
      font-size: 16px;
    }
  }

  .star-rating {
    margin-bottom: 10px;
  }

  .woocommerce-product-details__short-description {
    margin-bottom: 20px;
  }

  .variations-product-details {
    .variations_form {
      td,
      tr,
      .variations {
        border: none;
      }

      .variations {
        margin-bottom: 20px;

        .label {
          padding: 0 10px 0 0;
        }

        select {
          padding: 5px 10px 5px 5px;
          border-color: $border_color;
          margin-right: 10px;
        }
      }

      .woocommerce-variation-price {
        margin-bottom: 20px;
      }
    }
  }

  .quantity {
    margin-bottom: 20px;

    label {
      margin-right: 10px;
    }

    .input-text {
      border: 1px solid $border_color;
      padding: 5px 0 5px 5px;
      width: auto;
    }
  }

  .single_add_to_cart_button {
    margin-bottom: 20px;
  }

  .product_meta {
    > * {
      display: block;
      margin-bottom: 10px;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.product-tab-box {
  margin: 50px 0;

  table {
    width: 100%;

    th,
    td {
      padding: 10px;
    }
  }

  .tab-menu {
    margin: 0;
    border-color: #ebebeb;

    li {
      padding: 10px;
      margin-bottom: 0;
      border: 1px solid #ebebeb;
      border-bottom: none;

      &:not(:last-child) {
        border-right: none;
      }
    }

    a {
      font-size: 16px;
    }
  }

  .tab-content {
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 25px 30px;
  }
}
// end page single products

// page cart
// .main-page {
// 	.woocommerce {
// 		display: flex;
// 		flex-wrap: wrap;
// 		margin: 0 -15px;

// 		> * {
// 			padding: 0 15px;
// 		}
// 	}

// 	.woocommerce-notices-wrapper {
// 		width: 100%;
// 		padding: 0 15px;
// 	}

// 	.woocommerce-cart-form {
// 		width: 70%;

// 		table {
// 			width: 100%;

// 			th, td {
// 				padding: 15px;
// 			}

// 			.coupon {
// 				float: left;

// 				.input-text {
// 					height: 48px;
// 					border-width: 1px;
// 				    border-style: solid;
// 				    border-color: $border_color;
// 				    padding: 0 15px;
// 				    margin: 0 0 15px;
// 				}
// 			}

// 			.button {
// 				float: right;
// 			}
// 		}

// 		.product-thumbnail {
// 			width: 180px;
// 		}

// 		.product-remove {
// 			width: 60px;
// 			text-align: center;

// 			a {
// 				font-size: 30px;
// 			}
// 		}

// 		.product-quantity {
// 			width: 100px;

// 			label {
// 				display: none;
// 			}

// 			input {
// 				max-width: 70px;
// 				border-width: 1px;
// 			    border-style: solid;
// 			    border-color: $border_color;
// 			    text-align: center;

// 			    &::-webkit-inner-spin-button {
// 				    opacity: 1;
// 				}
// 			}
// 		}
// 	}

// 	.cart-collaterals {
// 		width: 30%;
// 		position: relative;

// 		table {
// 			width: 100%;
// 			margin-bottom: 15px;

// 			th, td {
// 				padding: 15px;
// 			}
// 		}

// 		.wc-proceed-to-checkout {
// 			a {
// 				display: inline-block;
// 			}
// 		}
// 	}
// }
// end page cart

// page checkout
.main-page {
  table {
    width: 100%;

    th,
    td {
      padding: 15px;
    }
  }

  .form-row {
    margin: 0;
    display: block;
  }

  .woocommerce .module__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .woocommerce-notices-wrapper {
    display: block;
    margin: 0 auto 30px;
  }

  .woocommerce-form-coupon-toggle {
    margin-bottom: 15px;
    width: 100%;
    display: none;
  }

  .shop_table {
    padding: 0;

    > li {
      list-style: none;
      border: 1px solid #ebebeb;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      > * {
        width: calc(100% - 300px);
        padding: 15px;
      }

      .product-thumbnail {
        width: 300px;
        border-right: 1px solid #ebebeb;
      }

      &:not(:last-child) {
        border-bottom: none;
      }

      &.cart-subtotal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 15px;

        button {
          width: auto;
        }
      }

      .coupon {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        padding: 0;

        label {
          display: block;
          width: 100%;
          margin-bottom: 15px;
        }

        input {
          width: auto;
          padding: 0 15px;
          min-width: 200px;
          border-right: none;
        }
      }

      > label,
      > strong {
        width: auto;
      }
    }

    .cart-discount,
    .cart-total {
      justify-content: space-between;
    }

    > p {
      display: none;
    }

    .cart-subtotal {
      .woocommerce-checkout-review-order {
        .shop_table {
          display: none;
        }
      }
    }

    > .woocommerce-notices-wrapper {
      display: none;
    }
  }

  .checkout_coupon {
    margin-bottom: 15px;
    width: 100%;

    input {
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: $border_color;
      padding: 0 15px;
      height: 40px;
      margin-bottom: 15px;
    }
  }

  .woocommerce-checkout-review-order .product-image {
    width: 180px !important;
  }

  #customer_details {
    .form-row {
      margin: 0 0 20px 0;
    }

    .woocommerce-input-wrapper {
      display: block;
    }

    input {
      width: 100%;
      border-width: 1px;
      border-style: solid;
      border-color: $border_color;
      padding: 0 15px;
      height: 40px;
    }

    textarea {
      width: 100%;
      min-height: 80px;
      padding: 10px 15px;
    }
  }

  #order_review {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
  }

  .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 10px;
  }

  .woocommerce-checkout {
    h3 {
      margin-bottom: 10px;
    }
  }

  #payment {
    .payment_methods {
      padding-left: 0;
    }

    li {
      margin-bottom: 20px;
      list-style: none;

      table {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      > * {
        width: auto;
      }
    }

    .payment_method_bacs {
      margin-top: 15px;

      ul {
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 15px;

        li {
          margin-bottom: 0;
          margin-right: 15px;
          width: calc(100% / 3 - 10px);

          &:nth-child(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .woocommerce-error {
    color: #ff0000;
  }

  .woocommerce-customer-details,
  .woocommerce-order-details {
    .woocommerce-column__title,
    .woocommerce-order-details__title {
      margin: 20px 0 15px;
    }
  }

  .woocommerce-customer-details {
    p {
      margin-bottom: 0;
    }
  }

  .woocommerce-thankyou-order-details {
    .woocommerce-order-overview__email {
      display: none;
    }
  }

  #customer_details {
    width: 100%;
    padding: 0;

    label {
      margin-bottom: 15px;
    }
  }

  li .place-order {
    width: 100%;
    padding: 0;
  }

  .product-name {
    margin-bottom: 15px;

    a {
      margin-bottom: 15px;
      display: inline-block;
      font-size: 20px;
    }
  }

  .product-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    label {
      margin-right: 10px;
    }
  }

  .product-subtotal {
    margin-bottom: 15px;
  }
}
// end page checkout

// page account
.main-page {
  > .woocommerce {
    > h2 {
      width: 100%;
    }

    > .woocommerce-form-login {
      width: 100%;

      input,
      .selection > * {
        padding: 5px 15px;
        height: 40px;
        border-color: $border_color;
      }

      .form-row {
        margin: 0 0 20px;
      }

      .woocommerce-form-login__rememberme {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;

        input {
          margin-right: 10px;
        }
      }
    }
  }

  .woocommerce-MyAccount-navigation {
    ul {
      padding: 0;
    }

    li {
      padding: 10px 0;
      list-style: none;
    }
  }

  .woocommerce-MyAccount-content {
    table {
      width: 100%;

      th,
      td {
        padding: 10px;
      }

      .button {
        padding: 5px 15px;
      }
    }

    .button {
      display: inline-block;
    }

    .addresses {
      display: flex;
      margin: 0 -15px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin-bottom: 0;
        }
      }

      > * {
        width: 50%;
        flex: auto;
        padding: 15px;
      }
    }

    .edit {
      padding: 10px 20px;
      border: 1px solid $border_color;
    }

    .form-row {
      display: block;
      margin: 0 0 20px;

      input,
      .selection > * {
        padding: 5px 15px;
        height: 40px;
        border-color: $border_color;
      }

      .select2-selection__arrow {
        top: 5px;
      }
    }

    .woocommerce-form-row {
      label {
        margin-bottom: 10px;
      }

      input ~ span {
        padding-top: 10px;
        display: inline-block;
      }
    }
  }
}
// end page account

/*//////////////////////////////////////////////////*/

// cart
.cart-icon {
  > a {
    font-size: 22px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: {
      width: 1px;
      style: solid;
      color: $border_color;
    }
    color: $col_button;
    position: relative;
    cursor: pointer;

    > strong {
      display: none;
    }

    &:hover {
      .icon-numb {
        color: $col_button;
      }
    }
  }

  .icon-cat {
    font-size: 22px;
  }

  .icon-numb {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border: {
      radius: 50%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    font: {
      size: 12px;
      weight: 500;
    }
    background-color: $bg_color;
    transition: all 400ms;
  }
}

.cart-content {
  @include position_fx("top_left", 0, 0);
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  transition: all 400ms;
  visibility: hidden;
  background: {
    color: rgba(0, 0, 0, 0.3);
  }

  .cart-list {
    width: 320px;
    height: 100%;
    background: {
      color: #fff;
    }
    border: {
      width: 1px;
      style: solid;
      color: #ebebeb;
      top: none;
      bottom: none;
      right: none;
    }
    float: right;
    @include translate(100%, 0);
    transition: all 500ms;
    position: relative;
    z-index: 9;
  }

  .cart-container-list {
    padding: 20px 25px 50px;
    height: 100%;
    overflow: {
      x: hidden;
      y: auto;
    }

    @include scrollbar();

    .cart-close {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font: {
        size: 30px;
      }
      position: relative;
      background: {
        color: #fff;
      }
      cursor: pointer;
      transition: all 400ms;
      z-index: 5;
      margin-bottom: 30px;
      float: right;

      ~ * {
        clear: both;
      }
    }

    > ul {
      margin-bottom: 50px;
      clear: both;
    }

    .buttons {
      margin-top: 15px;

      .button {
        margin-top: 15px;
        display: none;
        text-align: center;

        &.checkout {
          display: block;
        }
      }
    }

    .total {
      font: {
        size: 20px;
      }
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .image {
      margin-right: 10px;
      max-width: 80px;
      width: 100%;

      ~ p {
        max-width: calc(100% - 90px);

        > span {
          display: block;
        }
      }
    }

    img {
      max-width: 80px;
      width: 100%;
    }

    .remove {
      font-size: 30px;
      max-width: 20px;
      width: 100%;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: calc(100% - 20px);
      width: 100%;
    }
  }
}

.cart-content {
  &.active {
    opacity: 1;
    visibility: initial;

    .cart-list {
      @include translate(0, 0);
    }
  }
}
// end cart

// products
.add-product,
.remove-product {
  position: fixed;
  top: 15px;
  right: -100%;
  z-index: 9999991;
  background: #000;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 800ms;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.add-product.active,
.remove-product.active {
  right: 15px;
}

.module_products {
  .post-box {
    border: 1px solid #EAEEF1;
  }

  .post-image {
    position: relative;

    .on-sale {
      font-size: 13px;
      font-weight: 500;
      border-radius: 5px;
      padding: 6px 10px;
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }
  
  .post-name a {
    font-size: 16px;
    color: #000;
  }

  .post-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
    ins {
      text-decoration: none;
    }

    .amount {
      font-size: 16px;
      line-height: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    del {
      margin-right: 10px;
    }

    del,
    del .amount {
      color: #919191;
    }
  }
  
  .post-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .add_to_cart_button {
      padding: 0 11px;

      &:hover {
        background-color: #fff;
      }

      span {
        display: none;
      }
    }
  }
} 
// end products

/*//////////////////////////////////////////////////*/

@media (max-width: 1349px) {
  // Code
}

@media (max-width: 1199px) {
  // Code
}

@media (max-width: 991px) {
  // Code
}

@media (max-width: 767px) {
  // Code

  .product-content-box {
    > * {
      width: 100%;
    }

    .product-images {
      margin-bottom: 20px;
    }
  }

  .main-products .products-list .groups-box > * {
    width: 50%;
  }
}

@media (max-width: 575px) {
  .main-products .products-list .products-box {
    margin-bottom: 30px;

    > * {
      width: 100%;
    }

    .woocommerce-result-count {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 479px) {
  // Code

  .main-products .products-list .groups-box > * {
    width: 100%;
  }
}
