$col_body: #333333;
$col_title: #333333;
// $col_active: #a00;
$col_link: #333333;
$col_button: #333333;
$border_color: #ebebeb;
$bg_color: #ebebeb;

$font_sz_body: 15px;
$font_sz_title: 40px; 
$font_sz_title_2: 20px;
// $font_sz_title_2: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
// width = 320 -> font_sz_title = 25px
// width = 1920 - 320 -> font_sz_title = 30px - 25px
// width = 1920 -> font_sz_title = 30px

$font_family_body: 'google-sans';

$font_family_icon: 'FontAwesome';

$max_width: 1200px;

// @extend %transition;
%h {
	color: $col_title;
}

%flex {
	display: flex;
	flex-wrap: wrap;
}

%overflow_wrap {
    overflow-wrap: break-word;
}

%image {
    position: relative;
    overflow: hidden;
    display: block;

    &:before, &:after {
        content: '';
        display: inline-block;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255,255,255,0.4);
        z-index: 10;
        transition: all .6s ease-in-out;
    }

    &:before {
        width: 0%;
        height: 100%;
    }

    &:after {
        width: 100%;
        height: 0%;
    }

    &:hover:before {
        width: 100%;
        opacity: 0;
    }

    &:hover:after {
        height: 100%;
        opacity: 0;
    }
}
// @extend %transition;

// @mixin
// @include position_fx('top_left', 0, 0);
@mixin position_fx($pos_fx,$x,$y) {
    position: fixed;
    @if $pos_fx == 'top_left' {
        top: $x;
        left: $y;
    }@else if $pos_fx == 'top_right' {
        top: $x;
        right: $y;
    }@else if $pos_fx == 'bottom_left' {
        bottom: $x;
        left: $y;
    }@else if $pos_fx == 'bottom_right' {
        bottom: $x;
        right: $y;
    }
}

// @include position_as('top_left', 0, 0);
@mixin position_as($pos_as,$x,$y) {
    position: absolute;
    @if $pos_as == 'top_left' {
        top: $x;
        left: $y;
    }@else if $pos_as == 'top_right' {
        top: $x;
        right: $y;
    }@else if $pos_as == 'bottom_left' {
        bottom: $x;
        left: $y;
    }@else if $pos_as == 'bottom_right' {
        bottom: $x;
        right: $y;
    }
}

// @include scrollbar();
@mixin scrollbar($width: 3px) {
    &::-webkit-scrollbar {
        width: $width;
    }

    &::-webkit-scrollbar-track {
        background: {
            color: #fff;
        } 
    }

    &::-webkit-scrollbar-thumb {
        background: {
            color: $bg_color;
        } 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: {
            color: $bg_color;
        }
    }
}

// @include circular();
@-webkit-keyframes circular{
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}
@keyframes circular {
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -o-transform:rotate(360deg);
    }
}

// @include numb_row();
@mixin numb_row($x: 1) {
    display: -webkit-box;
    -webkit-line-clamp: $x;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// @include translate(0,0);
@mixin translate($x, $y) {
    transform: translate($x, $y);
}

// @include display_flex;
@mixin display_flex($x: space-between, $y: center) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $x;
    align-items: $y;
}

// @include arrow_up();
@mixin arrow_up($x: 5px, $y: #000) {
  width: 0;
  height: 0;
  border-left: $x solid transparent;
  border-right: $x solid transparent;
  border-bottom: $x solid $y;
}

// @include arrow_down();
@mixin arrow_down($x: 5px, $y: #000) {
  width: 0;
  height: 0;
  border-left: $x solid transparent;
  border-right: $x solid transparent;
  border-top: $x solid $y;
}

// @include arrow_right();
@mixin arrow_right($x: 5px, $y: #000) {
  width: 0;
  height: 0;
  border-top: $x solid transparent;
  border-bottom: $x solid transparent;
  border-left: $x solid $y;
}

// @include arrow_left();
@mixin arrow_left($x: 5px, $y: #000) {
  width: 0;
  height: 0;
  border-top: $x solid transparent;
  border-bottom: $x solid transparent;
  border-right:$x solid $y;
}
// @mixin