footer {
    margin: 0;
}

footer .title-box {
    margin-bottom: 0;
}

footer .title {
    font-size: 14px;
    margin-bottom: 0;
}

footer .lists-text {
    color: #f1f1f1;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 0px !important;
    text-decoration: none;
    display: block;
    font-weight: 400;
    line-height: 24px;
}

footer .lists-text li {
    margin-bottom: 0;
}

.lth-quote {
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    color: #155724;
    background-color: #d4edda;
    box-shadow: 0 6px 9px -5px #000;
    padding: 0.75rem;
    border-radius: 1rem;
    line-height: 26px;
}

.lth-quote blockquote {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}

.lth-quote blockquote:before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 32px;
    background-image: url(../images/chk.png);
    background-repeat: no-repeat;
}

.module_toggle {
    background: #f9f9f9;
    padding: 16px;
    border: 1px solid #ebebeb;
}

.module_toggle .title-box {
    margin-bottom: 0;
}

.module_toggle .title {
    font-size: 2rem;
    margin-bottom: 8px;
}

.module_toggle ul {
    border: none;
}

.module_toggle li {
    border: none;
    padding: 0;
}

.module_toggle li a {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.module_toggle li a .icon {
    display: none;
}

.module_toggle li .content {
    margin-bottom: 16px;
    display: block !important;
}

.module_testimonials .title-box {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.module_testimonials .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.module_testimonials .slick-vertical .post-box {
    display: flex;
    padding: 10px 15px;
    background: #f7f7f7 !important;
}

.module_testimonials .slick-vertical .post-image {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    overflow: hidden;
}

.module_testimonials .slick-vertical .post-image img {
    height: 100%;
}

.module_testimonials .slick-vertical .post-content {
    width: calc(100% - 39px);
    padding: 0 0 0 8px;
}

.module_testimonials .post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.module_testimonials .post-header>div {
    display: flex;
    flex-wrap: wrap;
}

.module_testimonials .post-name {
    position: relative;
    top: 1px;
    margin-left: 0;
    padding: 1px 0;
    font-weight: 700;
    font-size: 14px;
    color: #1fba34;
}

.module_testimonials .post-job {
    border-left: 1px solid #666;
    padding-left: 4px;
    position: relative;
    top: 1px;
    margin-left: 5px;
    margin-bottom: 10px;
    color: blue;
    font-size: 12px;
    pointer-events: none;
    font-weight: 600;
    display: flex;
}

.module_testimonials .post-job:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.module_testimonials .post-excerpt {
    border-top: 1px dashed #a0a0a0;
    padding-top: 5px;
}

.module_testimonials .star-rating .icon {
    color: orange;
}

.module_paymentoption .title-box,
.module_addon .title-box,
.module_shippinginformation .title-box,
.module_selectpackage .title-box {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.module_paymentoption .title,
.module_addon .title,
.module_shippinginformation .title,
.module_selectpackage .title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.module_selectpackage .post-box {
    border-radius: 10px;
    box-shadow: 2px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
}

.module_selectpackage .post-header {
    background: #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module_selectpackage .post-header .name {
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 10px;
    line-height: 2.8rem;
    color: #fff;
}

.module_selectpackage .post-header .sale {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 5px;
    border-radius: 2px;
    text-transform: none;
    text-shadow: rgb(0 0 0 / 20%) 0 1px 1px;
    color: #fff;
    background-color: #58d058;
}

.module_selectpackage .post-header .freeship {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    border-top-right-radius: 5px;
    padding: 0 10px;
    line-height: 49px;
}

.module_selectpackage .post-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.module_selectpackage .post-content:before {
    content: "\f0c8";
    font-family: "FontAwesome";
    font-size: 32px;
}

.module_selectpackage .post-image {
    max-width: 220px;
}

.module_selectpackage .post-content .post-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    color: #01335e;
    margin-bottom: 0;
}

.module_selectpackage .post-content .post-qty {
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 500;
    white-space: nowrap;
}

.module_selectpackage .post-content .post-price {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.module_selectpackage .post-content .post-price smail {
    font-size: 10px;
    display: block;
}

.module_selectpackage .post-content .post-price-old {
    font-size: 12px;
    line-height: 1.3;
    color: #dc3545;
    text-decoration: line-through;
}

.module_selectpackage .post-content .post-price-save {
    font-size: 12px;
    color: #10852a;
    line-height: 1.3;
}

.module_selectpackage .post-content .post-price-total {
    font-size: 12px;
    color: #333;
    line-height: 1.3;
    font-weight: 700;
}

.module_selectpackage .post-content .post-button {
    width: 130px;
}

.module_selectpackage .post-content .post-button .btn {
    position: absolute;
    width: 130px;
    height: 32px;
    right: 10px;
    bottom: 0;
    line-height: 30px;
    text-align: center;
    background: #f1f1f1;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #dedede;
    padding: 0;
    color: #212529;
}


.module_selectpackage .post-content .post-button .btn-Selected {
    display: none;
}

.module_selectpackage .post-footer {
    padding: 10px 10px 0;
}

.module_selectpackage .post-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
}

.module_selectpackage .post-footer>ul {
    background: #265f91 50%;
    padding: 10px;
    color: #fff;
    display: none;
}

.module_selectpackage .post-footer li {
    width: calc(100% / 4);
    padding-left: 7px;
    padding-bottom: 5px;
    position: relative;
    font-size: 9px;
    margin-bottom: 0;
    list-style: none;
}

.module_selectpackage .post-footer li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 150px;
    left: 0;
    top: 5px;
}

.module_selectpackage .post-footer .post-bullet {
    color: #10852a;
    background: rgba(255, 255, 255, .6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 48px;
    margin: 0 -10px;
}

.module_selectpackage .post-footer .post-bullet ul {
    padding: 10px 0;
    border-top: 1px solid #ededed;
}

.module_selectpackage .post-footer .post-bullet li {
    padding: 0;
    text-align: center;
}

.module_selectpackage .post-box {
    margin-bottom: 16px;
}

.module_selectpackage .post-box.active {
    background-color: #fff6d1;
}

.module_selectpackage .post-box.active .post-footer>ul {
    display: flex;
}

.module_selectpackage .active .post-content .post-button .btn {
    display: none;
}

.module_selectpackage .active .post-content .post-button .btn-Selected {
    background: #2791e4;
    color: #fff;
    display: block;
}

.module_selectpackage .active .post-content:before {
    content: "\f14a";
}

.module_selectpackage .item-selectpackage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #333;
    background: #a9a9a9;
    border: 1px solid #dedede;
    font-size: 14px;
    padding: 8px;
    margin-bottom: 16px;
}

.module_selectpackage .item-selectpackage>div {
    width: 50%;
    max-width: 100% !important;
}

.module_selectpackage .item-selectpackage .post-content:before {
    display: none;
}

.module_selectpackage .item-selectpackage .post-content {
    color: #333;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #dedede;
    border-radius: 3px;
    -webkit-box-shadow: #000 0 6px 9px -9px;
    box-shadow: #000 0 6px 9px -9px;
    font-size: 12px;
    padding: 10px 10px 0;
}

.module_selectpackage .item-selectpackage .post-content ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.module_selectpackage .item-selectpackage .post-content li {
    display: flex;
    justify-content: center;
}

.module_selectpackage .item-selectpackage .post-content li:not(.order-summary-header) {
    justify-content: space-between;
    align-items: center;
}

.module_selectpackage .item-selectpackage .post-content li.order-summary-header {
    font-size: 18px;
    padding: 10px 0;
    color: #fff;
    background-color: #343a40
}

.module_selectpackage .item-selectpackage .post-content li.order-summary-header>i {
    margin-right: 4px;
}

.module_shippinginformation {
    margin-bottom: 16px;
}

.module_shippinginformation .contact-form-header {
    background-color: #0070ba;
    background: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background-image: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -moz-linear-gradient(left, #0070ba, #5b8db1, #0070ba);
    -webkit-box-shadow: 0 6px 9px -5px #000;
    box-shadow: 0 6px 9px -5px #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
}

.module_shippinginformation .wpcf7-form-control {
    background: #fff;
    border: 1px solid #a7abad;
    color: #222;
    height: 32px;
    line-height: 22px;
    width: 100%;
    font-size: 14px;
    padding: 3px 8px;
    outline: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin-bottom: 0.5rem
}

.module_shippinginformation .form-group-text {
    color: #fff;
    text-align: center;
    margin: 15px 0 0;
}

.module_shippinginformation .form-group-checkbox {
    color: #fff;
    display: flex;
    padding: 15px;
    background-color: #0070ba;
    background: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background-image: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -moz-linear-gradient(left, #0070ba, #5b8db1, #0070ba);
    -webkit-box-shadow: 0 6px 9px -5px #000;
    box-shadow: 0 6px 9px -5px #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
}

/* .module_shippinginformation .form-group-checkbox:before {
    content: "\f0c8";
    content: "\f14a";    
    font-family: "FontAwesome";
} */

.module_shippinginformation .form-group-checkbox input {
    margin-right: 4px;
}

.module_shippinginformation .form-group-checkbox.active~.contact-form-billing {
    display: none;
}

.module_shippinginformation .form-group-button {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none;
}

.module_shippinginformation .form-group-product {
    display: none;
}

.module_addon .addon-box {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.module_addon .add-box {
    border: 2px dashed #fec41e;
    background: #fdf0cc;
    padding: 15px;
    margin: 0;
    width: 100%;
}

.module_addon .add-box label {
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.module_addon .add-box label:before {
    content: "\f0c8";
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: 400;
    color: #b7b1b1;
    margin-right: 5px;
}

.module_addon .add-box.active label:before {
    content: "\f14a";
    font-weight: 700;
    color: #000;
}

.module_selectpackage .item-selectpackage .post-content ul {
    display: flex;
    flex-wrap: wrap;
}

.module_selectpackage .item-selectpackage .post-content li {
    width: 100%;
    order: 99999;
    margin-bottom: 10px !important;
}

.module_selectpackage .item-selectpackage .post-content li:nth-child(1) {
    order: 1;
}

.module_selectpackage .item-selectpackage .post-content li:nth-child(2) {
    order: 2;
}

.module_selectpackage .item-selectpackage .post-content li:nth-child(3) {
    order: 3;
}

.module_addon .addon-box-footer {
    background-color: #0070ba;
    background: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -webkit-gradient(linear, left top, right top, from(#0070ba), color-stop(#5b8db1), to(#0070ba));
    background-image: linear-gradient(to right, #0070ba, #5b8db1, #0070ba);
    background-image: -moz-linear-gradient(left, #0070ba, #5b8db1, #0070ba);
    -webkit-box-shadow: 0 6px 9px -5px #000;
    box-shadow: 0 6px 9px -5px #000;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin-top: 16px;
}

.module_addon .addon-button {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.module_addon .addon-button button {
    border-radius: 9px;
    color: #fff;
    font-weight: 700;
    letter-spacing: .51px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: relative;
    outline: none !important;
    border: 2px solid #fff;
    background-color: #1e8504;
    padding: 0;
    height: 56px;
    margin-bottom: 0.25rem;
}

.addon-guarantee ul {
    list-style: none;
    padding: 0;
}

.addon-guarantee li {
    background: #f7f7f7;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
}

.addon-guarantee .guarantee-container {
    text-align: center;
}

.addon-guarantee .guarantee-item:not(:last-child) {
    margin-bottom: 6px;
}

.addon-guarantee .guarantee-item i {
    color: green;
}

.addon-guarantee .item {
    display: flex;
    align-items: center;
}

.addon-guarantee .item .item-image {
    width: 50px;
    min-width: 50px;
    margin-right: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
}

.addon-guarantee .item-content {
    font-size: 12px;
    line-height: 1rem;
}

.addon-guarantee .item-content h4 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .module_selectpackage .post-content .post-button {
        display: none;
    }

    .module_selectpackage .post-footer>ul li {
        width: 50%;
    }

    .module_selectpackage .post-header .freeship,
    .module_selectpackage .post-header .sale,
    .module_selectpackage .post-header .name {
        font-size: 12px;
    }

    .module_selectpackage .post-content {
        justify-content: start;
    }

    .module_selectpackage .post-image {
        margin-right: 0.5rem;
    }

    .module_selectpackage .post-content .post-name {
        font-size: 15px;
    }

    .module_selectpackage .post-content .post-qty {
        font-size: 13px;
    }

    .module_selectpackage .post-content .post-price {
        font-size: 18px;
    }

    .module_selectpackage .item-selectpackage>div {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .module_selectpackage .post-image {
        max-width: 150px;
    }

    .module_selectpackage .item-selectpackage>div {
        width: 100%;
    }

    .module_selectpackage .item-selectpackage .post-image {
        margin-bottom: 10px;
    }

    .module_toggle .title {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .module_selectpackage .post-footer .post-bullet li {
        width: 50%;
    }
}

@media (max-width: 479px) {
    .module_selectpackage .post-header {
        flex-wrap: wrap;
        padding: 0 15px 15px;
    }

    .module_selectpackage .post-header .freeship {
        padding: 0;
        width: 100%;
        line-height: 22px;
    }
}